body{
    font-family: 'Poppins', sans-serif;
}
.comonn{
    position: relative;
}
.fa-angle-left{
    position: absolute;
    left: 0;
    top: 50%;
    
    
}
.fa-angle-right{
    position: absolute;
    right: 0;
    top: 50%;
}
.cover-img{
    filter: brightness(50%);
}
@media only screen and (max-width:688px){
    .home img{
        height: 600px;
    }
}
@media only screen and (min-width:689px) and (max-width:992px){
    .home img{
        height: 600px;
    }
}